@model ElGantte.Models.Partner

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Partner <strong>@Html.DisplayFor(Model => Model.Nombre)</strong></h1>

<h4>Partner</h4>
<hr />
<div class="row">
    <div class="container-fluid">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label">Tipo</label>
                <select asp-for="Tipo" class="form-control">
                    <option value="true">Partner</option>
                    <option value="false">Cliente</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCambio" class="control-label"></label>
                <input asp-for="FechaCambio" class="form-control" />
                <span asp-validation-for="FechaCambio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountManager" class="control-label"></label>
                <input asp-for="AccountManager" class="form-control" />
                <span asp-validation-for="AccountManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-outline-success mt-1 w-100" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary mt-1 w-100">Volver al inicio</a>
</div>

