@model ElGantte.Models.Jira

@{
    ViewData["Title"] = "Delete";
}


<h1>Eliminar Jira <b>@Html.DisplayFor(model => model.Codigo)</b> @Html.DisplayFor(model => model.Url)</h1>
<h2>¿Esta finalizado?
    @if (Model.Finalizado.HasValue)
    {
        if (Model.Finalizado.Value)
        {
            <span class="badge bg-success">Sí</span>
        }
        else
        {
            <span class="badge bg-danger">No</span>
        }
    }
    else
    {
        <span class="badge bg-secondary">No especificado</span>
    }
</h2>
@await Html.PartialAsync("_TempDataMensajes")
<h3>¿Esta seguro de eliminar este JIRA?</h3>
<hr />

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar 💣" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-primary">Volver al inicio</a>
    </form>
</div>