@model ElGantte.Models.Cartascesion

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas eliminando la carta de cesión <strong>@Html.DisplayFor(Model => Model.NombreArchivo)</h3>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="integracionId" value="@ViewBag.IntegracionId" />
        <input type="submit" value="Eliminar 💣" class="btn btn-outline-danger" /> |
        <a asp-controller="Integraciones" asp-action="Edit" asp-route-id="@ViewBag.IntegracionId" class="btn btn-outline-primary">
            Volver a la integración
        </a>
    </form>
</div>
