@model ElGantte.Models.Integracione

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Integración @Html.DisplayFor(model => model.ModeloTerminalNavigation.Modelo) @Html.DisplayFor(model => model.PartnerNavigation.Nombre)</h1>

@await Html.PartialAsync("_TempDataMensajes")
<h3>¿Esta seguro de eliminar esta integración?</h3>
<hr />
<div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar 💣" class="btn btn-outline-danger" /> |
            <a asp-action="Index" class="btn btn-outline-primary">Volver al inicio</a>
        </form>
</div>
